# Игнорирование файлов с расширениями .pyc и .pyo
*.pyc
*.pyo

# Игнорирование файлов с расширением .env, содержащих конфиденциальную информацию
*.env

# Игнорирование папки с именем venv, используемой для виртуального окружения
venv/

# Игнорирование папки с именем __pycache__, создаваемой интерпретатором Python
__pycache__/

# Игнорирование файлов, создаваемых средой разработки PyCharm
.idea/
*.iml
*.ipr
*.iws

# Игнорирование файлов настройки и временных файлов текстового редактора Vim
.vimrc
.swp

# Игнорирование файлов настройки и временных файлов текстового редактора Nano
.nanorc
.save/

# Игнорирование папки с именем dist, содержащей собранные файлы
dist/

# Игнорирование папки с именем build, содержащей временные файлы сборки
build/